<h3 style="text-align: center;">Posts</h3>
<ul>
    <% page.posts.each(function(post) { %>
        <li class="post">
            <h4 class="post-title"><a href="<%- url_for(post.path) %>"><%= post.title %></a></h4>
            <% if (post.date) { %>
                <i class="far fa-calendar-alt"></i>
                <%= date(post.date, config.date_format) %>
            <% } %>
            <br>
            <% if (post.author) { %> <i class="fas fa-user-alt"></i> Written by: <%= post.author %> <% } %>
            <br>
            <% if (post.excerpt) { %> <i class="fas fa-ellipsis-h"></i> Excerpt:<br><p class="index-excerpt"><%- post.excerpt %></p> <% } %>
        </li>
    <% }) %>
</ul> 