<h3 style="text-align: center;">Posts</h3>
<ul>
    <% page.posts.each(function(post) { %>
        <li class="post">
            <h3 class="index-post-title"><a href="<%- url_for(post.path) %>"><%= post.title %></a></h3>
            <span class="index-page-meta">
                <% if (post.date) { %>
                    <i class="far fa-calendar-alt"></i> Date: 
                    <%= date(post.date, config.date_format) %>
                <% } %>
                <br>
                <% if (post.author) { %> <i class="fas fa-user-alt"></i> Written by: <%= post.author %> <% } %>
            </span>
            <% if (post.excerpt) { %> <br> <span class="index-excerpt"> <%- post.excerpt %> </span> <a href="<%- url_for(post.path) %>"><i class="fas fa-ellipsis-h"></i> Keep reading</a> <% } %>
        </li>
    <% }) %>
</ul> 